
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    width: 100%;
    background-color: #404040FF;
    a,span{
        text-decoration: none;
        color: white;
    }

    .contact{
        display: flex;
        align-items: center;
        height: 40px;
        ul {
            li{
                
                a {
                    text-decoration: none;
                    transition: all .3s ease;
                }

                &:first-child {
                   

                    a:hover {
                        color: #e96b56;
                    }
                }
            
                i{
                    color: tomato;
                }
    
               
            }
        }
    }

    .social{
        i{
            color: rgb(143, 131, 131);
        }
    }
}


header{

    @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu{ display: none; }
        .navbar .nav-item:hover .nav-link{   }
        .navbar .nav-item:hover .dropdown-menu{ display: block; }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }
    }	
    .brand-line{
        width: 10px;
        height: 30px;
        background-color: #e96b56;
    }


}

main{
    .first{
        width: 100%;
        height: 110px;
        background-color: grey;

        .row1{
            margin: 10px;
        }

        .home{
            color:#e96b56 ;
        }
    }

    .second{
        margin-top: 30px;
        .box{
            width: 400px;
            height: 300px;
            text-align: center;
            border: 1px solid #ededed;
            padding: 80px 20px;
            transition: all ease-in-out 0.3s;
            position: relative;
            transition: all .3s ease;
            display: flex;
            justify-content: center;
            flex-direction: column;

            margin-bottom: 20px;
            h4 {
                a {
                    text-decoration: none;
                    color: #545454;
                }
            }

            .icon {
                display: flex;
                position: relative;
                margin: 20px auto 0px auto;
                i {
                    font-size: 24px;
                    padding: 20px;
                    background-color: #e96b56;
                    border-radius: 0.3rem;
                    color: white;
                }

                &:before{
                    position: absolute;
                    content: '';
                    width: 64px;
                    height: 100%;
                    top: -8px;
                    left: -8px;
                    border-radius: 0.3rem;
                    background-color: rgba($color: #e96b56, $alpha: 0.6);
                }
            }

            &:hover{
                background-color: #e96b56;

                i {
                    background-color: white;
                    color: #e96b56;
                }

                h4 {
                    color: white;
                }

                p {
                    color: white;
                }

            }

        }
    }

    .three{
        margin-top: 50px;

        .title{
            text-align: center;
        }

        .img-fluid{
            width: 600px;
            height: 500px;
            float: right;

        }

        .redProgress{
            background-color: #E96B56FF;
        }
    }

}

footer{
    margin-top: 30px;

    .footer-container{
        width: 100%;
        height: 140px;
        background: #404040FF;
        padding: 25px 100px;

        h3,p{
            color: white;
        }

        input[type=email]{
            border-radius: 20px;
            padding: 8px;
            width: 500px;
            position: absolute;
        }

        input[type=submit]{ 
            position: relative;
            top: -9px;
            right: -331px;
            bottom: 28px;
            font-size: 16px;
            padding: 5px 40px;
            margin: 12px;
            background: #e96b56;
            color: #fff;
            border-radius: 20px;
        }
    }

    .footer-top{
        width: 100%;
        height: 250px;
        background-color:#3B3B3BFF;

        ul{
            li{
                i{
                    color: orangered;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }

        h3,p{
            color: white;
        }

        .social{

            li{
                font-weight: 400;
                i{
                    color: white;
                }
            }

        }

    }

    .coperight{
        width: 100%;
        height: 70px;
        text-align: center;
        background-color:#404040FF ;

        p{
            color: white;
            a{
                text-decoration: none;
                color: orangered;
            }
        }
    }


}


